// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.finder {
  opacity: 0;
  position: absolute;
  border: 3px solid cyan;
  height: 30px;
  width: 30px;
}


.container-tags:hover > div[class='finder'] {
  opacity: 1;
}

.drop-down {
  position: absolute;
  .choice {
    background-color: white;
  }
}

.absolute {
  position: absolute;
  background: cyan;
}

.finder[data-columns='3'] {
  width: 400px;
}

.x-link {
  top:-20px;
  right:-32px;
  position:relative;
  background-color: white;
}